@import "cssmethods/vendor.styl"

/* BUTTONS */
WHITE         = #fff
COLOR         = #9e090f
THEME         = #E20E16
/* BUTTONS */
SECONDARY     = #fff
SUCCESS       = #2ECC71
ALERT         = #E74C3C
CAUTION       = #E9C400
/* BACKGROUNDS */
LIGHT         = #ECF0F1 
DARK          = #3e3a3a

/* OTHERS */
TRANSITION    = 400ms
BORDER-RADIUS = 0px
BORDER-HEIGHT = 5px 

AIR           = 1em
TIP-COLOR     = rgba(0,0,0,0.75)
