ACTION-AIR = AIR - 0.2

[data-tuktuk=accordion]
  .action
    margin ACTION-AIR
    float left
    left -100%
    transition all ease .3s
    
  [data-category=delete]
    margin-left 0

  [data-accordion=content]
    margin-left 0

  &.active
    > [data-accordion=content]
      margin-left AIR
      > li        
        > .action
          left 0

      li:not([data-tuktuk=accordion])
        padding 0
        overflow hidden

        span
          padding AIR
          display block
          width 100%
          height 100%

[data-category=list]
  margin-left 0 !important
