[data-tip]
  &:hover:before, &:hover:after
    transition-delay 1s
  &:before, &:after
    transition all 300ms      
  &:before
    background: transparent
    border: 0.5em solid transparent
  &:after
    background: TIP-COLOR
    color: white
    text-shadow: 0 -0.15em 0 #000
    font-weight: bold
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.25)

  &:not(.tip-top):not(.tip-right):not(.tip-left)
    &:before
      margin-top: -14px
      border-bottom-color: TIP-COLOR
    &:after
      margin-left: -16px
    &:before, &:after
      top: 100%
      left: 50%
    &:hover:before, &:hover:after
      transform translateY(8px)        

  &.tip-top
    &:before
      margin-bottom: -14px
      border-top-color: TIP-COLOR
    &:after
      margin-left: -14px
    &:before, &:after
      bottom: 100%
      left: 50%
    &:hover:before, &:hover:after
      transform translateY(-8px)

  &.tip-left
    &:before
      border-left-color: TIP-COLOR
      margin-right: -14px
      margin-bottom: -6px
    &:after
      margin-bottom: -14px
    &:before, &:after
      right: 100%
      bottom: 50%
    &:hover:before, &:hover:after
      transform translateX(-8px)

  &.tip-right
    &:before
      margin-left: -14px
      margin-bottom: -6px
      border-right-color: TIP-COLOR
    &:after
      margin-bottom: -14px
    &:before, &:after
      left: 100%
      bottom: 50%
    &:hover:before, &:hover:after
      transform translateX(8px)    